body{
  margin: 0;
}
.navbar{
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  


}
.head{
  background: crimson;
}